.titulo__sessao {
    font-size: 94px;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: end;
}

.about-me__container {
    display: flex;
    justify-content: space-between;
}

.about-me__conteudo {
    width: 50%;
}

.about-me__conteudo-titulo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.about-me__conteudo-texto {
    font-size: 20px;
    margin-bottom: 1rem;
}

.about-me__img {
    align-self: center;
    width: 45%;
}



@media screen and (max-width: 1024px) {

    .titulo__sessao {
        font-size: 48px;
    }

    .about-me__container {
        flex-direction: column;
        align-items: center;
    }
    
    .about-me__conteudo {
        width: auto;
        padding: 2%;
    }

    .about-me__img {
        width: 60%;
    }
}

@media screen and (max-width: 720px) {

    .about-me__img {
        width: 90%;
    }
}